.ClassCardGrid
{
    display: inline-block;
}
.dashTitle
{
    padding-top: 0px;
    text-align: center;
    margin-bottom: 2%;
    font-size: 80px;
    font-weight: lighter;
    font-family: cursive;
}
.ClassCard
{
    background-color: rgb(37, 37, 37);
    color: rgb(25, 228, 228);
    height: auto;
    width: 25%;
    margin-left: 7%;
    border-radius: 7px;
    margin-bottom: 20px;
    display: inline-block;
}
.ClassCardHead
{
    text-align: center;
}
.ClassCardHr
{
    color: white;
    width: 92%;
}
.ClassCardP
{
    font-weight: bold;
    padding-right: 10px;
}
.ClsBtnDiv
{
    text-align: center;
    padding-bottom: 10px;
}
.ClassButton
{
    text-align: center;
    font-size: larger;
    border-radius: 7px;
}
.ChartBegin
{
    width: 92%;
    color: rgb(37, 37, 37);
}
.CharTit
{
    text-align: center;
}
.ReChar
{
    display:flex;
}
.barchar
{
    margin-top: 1%;
}
.CharSubTit
{
    margin-left: 12%;
}
.Radchar
{
    margin-left: 15%;
}
.ClassButton:hover
{
    cursor: pointer;
    background-color: rgb(25, 228, 228);
    color: rgb(37, 37, 37);
}