.FormDiv
{
    display: flexbox;
    text-align: center;
    align-content: center;
    margin-top: 15%;
}
.FormInput1
{
    width: 20%;
    height: 30px;
    border: 1.5px solid black;
    border-radius: 7px;
    padding-left: 15px;
}
.Submitbtn
{
    width: 10%;
    height: 30px;
    border-radius: 7px;
    border: cornflowerblue 1px solid;
    margin-top: 1%;
    font-size: larger;
    margin-right: 1%;
    font-weight: 600;
}
.SignupLink
{
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.15%;
    padding-bottom: 0.15%;
    height: 30px;
    border-radius: 7px;
    border: cornflowerblue 1px solid;
    margin-top: 1%;
    font-size: larger;
    margin-right: 1%;
    text-decoration: none;
    background-color: white;
    color: black;
    font-weight: 600;
    text-align: center;
}
.Submitbtn:hover
{
    cursor: pointer;
    font-weight: 700;
    background-color: green;
    color: white;

}
.SignupLink:hover
{
    cursor: pointer;
    background-color: green;
    color: white;
}
.Getmarksbtn
{
    border-radius: 7px;
    border: cornflowerblue 1px solid;
    margin-top: 1%;
    font-size: 40px;
    margin-right: 1%;
    font-weight: 600;
    align-self: center;
    font-weight: 100;
    background-color: greenyellow;
}
.Getmarksbtn:hover
{
    cursor: pointer;
    background-color: green;
    color: white;
}
.GetansBtn
{
    border-radius: 7px;
    border: cornflowerblue 1px solid;
    margin-top: 1%;
    font-size: 40px;
    margin-right: 1%;
    font-weight: 600;
    align-self: center;
    font-weight: 100;
    background-color: rgb(80, 127, 255);
}
.GetansBtn:hover
{
    cursor: pointer;
    background-color: rgb(3, 3, 180);
    color: white;
}
.ResetFormButton
{
    border-radius: 7px;
    border: cornflowerblue 1px solid;
    margin-top: 1%;
    font-size: 40px;
    margin-right: 1%;
    margin-left: 35%;
    font-weight: 600;
    align-self: center;
    font-weight: 100;
    background-color: rgb(255, 103, 103);
}
.ResetFormButton:hover
{
    cursor: pointer;
    background-color: rgb(175, 0, 0);
    color: white;
}