.NavUl
{
    display: flex;
    justify-content: space-between;
}
.Navli
{
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    margin: 0px;
    font-weight: 600;
    padding-right: 5px;
    font-size: large;
    text-decoration: none;
    color: black;
}
.Navli:hover
{
    font-weight: 700;
    border-bottom: 1px black solid;
    cursor: pointer;
    color: rgb(68, 0, 255);
}
.Navbar
{
    color: black;
    background-color: rgba(255, 230, 0, 0.808);
    height: 55px;
    position: fixed;
    top: 0;
    left: 0px;
    width: 100%;
}
.selected
{
    font-weight: 800;
}
.selected:hover
{
    font-weight: 800;
    color: black;
    border: 0px;
}
.Navbar:hover
{
    background-color: rgba(255, 230, 0, 1);
}